.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  > header {
    margin: 1em .6em;

    h1 {
      margin: 0;
      color: var(--color-fg);
      font-weight: 700;
      font-size: 1.1em;
      display: grid;
      grid-template-columns: 1fr auto 1fr;

      a {
        display: block;
        text-align: right;
        font-weight: normal;
        font-size: .9em;

        svg {
          height: 1.3em;
          width: 1.2em;
          stroke-width: 3;
        }

        &:first-of-type { text-align: left; }
      }

      span {
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    h2 {
      color: var(--color-fg);
      font-weight: 400;
      font-size: 1em;
      opacity: .5;
      margin-top: .5em;
      margin-bottom: .5em;
      text-align: center;

      span {
        padding-left: .5em;

        &:first-of-type { padding-left: 0 }
      }
    }
  }

  @media screen and (min-width: 30em) {
    > header {
      border-bottom: 1px solid rgba(255, 255, 255, .2);
      margin: 1em;

      h1 {
        display: flex;
        font-size: 1.5em;

        span {
          text-align: left;
          padding: 0 .8em;
          flex: 1;
        }

        a {
          width: 1em;
          height: 1.1em;

          svg { stroke-width: 2 }
        }
      }

      h2 { text-align: left }
    }
  }
}

.error {
  color: var(--color-red);
}

.load-more {
  text-align: center;
  opacity: .5;
  padding: 2em 1em;
}
